@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1603104506266'); /* IE9 */
  src: url('iconfont.eot?t=1603104506266#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKQAAsAAAAABkAAAAJEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMXwE2AiQDCAsGAAQgBYRtBy0bggXILrBt2JNATQwhQN2mT0AAhnj4fj/Wue+/j7gnhiiaRROZxHSGRhSrhGK7aUPaFLaLTvf9n8scDNhznj+Wp8Zsi/kt/740HTjWBEJOTakJuQk3uZwBZs5FSs1sgZ31eS6nd1cBBTI/UI5rb5rUC6gXB1Kge2CbrIQybhi74AWeJ1BjQE1pc3nzEPpl9rRAnAaeBf2FgCyzdJVQ0bA2iwelqnSZxn30/fhmPvpJyoJdtXOy5MLsR05WcfH/wnFACBLQ5hIF5oBMHDQmtlQEY1bUJKpGwLHKg4/+/w9M4qh6wf46u7QO9EHBMwm9qQIkeKyBWoCuSY8kWrTy3n5z1eY+99hOL95ePJ3154rqx2rjH5PTxzsdNT3xOZ4zwSz6WXqXEgh+RufG2OJ/VW0GH777FemyYS6q9uEM/oVwYFs2xLYxZU3Y2J20nKOmRg3+w54Wv1M17SfOhCrtE1yV+jMUqoyRmTGHUq0FVKiyghqzVjbXasUqIldjxi1AaPKFpMF7FJp8k5nxg1KHP1RoigpqHEXrnrUmIhjcYLKEXLTPMXB0qlyzDMbl++QVscV5ccQ6Js6DMLYbrXJ6hVLiJRbkJ15HRKFineAyuIziWGPGOiRHGr5I1m02VdObGo5OYNAGRiyCuJDtHAo4tJQKeovByuf3EU8hZuGOljr/McJywfCoraE1gFxRpINaHuWa3AlPhxAKUpiWQMtgFInFNJQ1jwoRh2jwJ8QyXU2nkxqqaGyvSv5uH9Sw7SnSS8bPCw0AAAA=') format('woff2'),
  url('iconfont.woff?t=1603104506266') format('woff'),
  url('iconfont.ttf?t=1603104506266') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1603104506266#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuo:before {
  content: "\e62d";
}

